/* COLOUR PALETTE
Brown #914F1E
Light Brown #B99470
Lighter Brown #DEAC80
Cream #F7DCB9
Light Green #B5C18E
*/


/* LAYOUT STYLING */

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    /* border: solid; color: red; */
}

.instruction-section {
    margin: 0;
    padding: 1%;
    border: solid; color: red; border-width: thin;
}

/* Disable Mobile Sections above mobile resolutions */
.product-mobile-section {
    display: none;
}


.jute-bag-mobile-section {
    display: none;
}

/* HEADER SECTION */
.landing-section {
    margin: 0;
    padding: 0;
}
.header {
    position: fixed;
    top: 0;
    background: white;
    z-index: +1;

    width: 100%;
    margin: 0;
    padding: 0;

    border-bottom: solid; color: black; border-width: thin;
}
.header-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4%;
    margin-left: 5%;
    margin-right: 5%;
}
.header-sub-section-1 {
    width: 10%;
    padding: 0;
}
.header-sub-section-2 {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0;
    padding: 0;
}
.header-sub-section-2-line1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    padding: 0;
}
.header-sub-section-2-line2 {
    margin: 0;
    padding: 0;
}

.header-sub-section-3 {
    width: 30%;
}
.image-logo {
    width: 80%;
    margin: 0;
    padding: 0;
}

/* NAVIGATION BAR */
.navbar {
    display: flex;
    flex-direction: row;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    /* border-top: solid; border-width: thin; */
}
.nav-items {
    display: flex;
    justify-content: space-between;
    gap: 1%;
    width: 94%;
    /*background: white;*/
}
.nav-link {
    padding: 1%;
}
.nav-link a {
    font-size: medium;
    color: black;
    text-decoration: none;
    cursor: pointer;
    float: left;
}
.nav-link:hover {
    font-size: medium;
    background-color: #41a67e;
    text-decoration: none;
    cursor: pointer;
    float: left;
}
.button-contact {
    font-size: medium;
    padding: 2%;
    color: black;
    text-decoration: none;
    background: #ffc107;
    border: solid; border-color: black; border-width: thin;
    border-radius: 5px;
    cursor: pointer;
}

/* HERO SECTION */
.hero-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;

    margin-top: 12%;

    margin-left: 0;
    margin-right: 0;
    height: 100vh;
    /*background: url(assets/images/header1-cine.png);*/
    background: url(../images/hero-background-cine.jpg); /* GITHUB */
    background-repeat: no-repeat;
    background-size: cover;

}
.hero-text-section-1 {
    width: 50%;
    margin-top: 3%;;
    margin-left: 10%;
    font-size: 125%;
    color:#3e0703;
}
.hero-text-section-1-contents {
    padding: 2%;
    padding-bottom: 8%;
    /*background-color: white;
    opacity: 0.5;
    border-radius: 10px;*/
}

.hero-text-section-1 h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 400%;
}
.hero-text-section-2 {
    width: 50%;
}
.image-main {
    width: 100%;
    height: 100vh;
}
.hero-sub-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 5%;
    width: 90%;
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
}
.hero-sub-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1%;
    border-radius: 15px;
    border: solid; border-color: lightgray;
}

.container {
    margin-left: 5%;
    margin-right: 5%;
}

/* INTRODUCTION SECTION */
.introduction-section {
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    padding: 2%;
    background-color: #a0c878;
    border-radius: 20px;
}
.intro-sub-section-1 {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 70%;
}
.intro-sub-section-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
}
.image-intro {
    width: 70%;
    clip-path: circle(50%);
}

/* ICON SECTION */
.icon-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 3%;
    width: auto;
    margin-top: 4%;
    margin-bottom: 5%;
    padding: 5%;
}
.icon-sub-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.icon2-image {
    width: 30%;
}

/* PRODUCT SECTION */
/* Full Screen Width */
.product-image {
    width: 100%;
    height: 85%;
    margin: 0;
    padding: 0;
}
.product-left-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2%;
}
.product-left-section-1 {
    width: 45%;
    margin: 0;
    padding: 0;
}
.product-left-section-2 {
    width: 55%;
    margin: 0;
    padding: 0;
}
.product-right-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2%;
}
.product-right-section-1 {
    width: 55%;
    margin: 0;
    padding: 0;
}
.product-right-section-2 {
    width: 45%;
    margin: 0;
    padding: 0;
}
.product-sub-section {
    margin-top: 0;
    padding: 2%;
}

/* SERVICES SECTION */
.services-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}
.services-sub-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 3%;
    width: 90%;
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
}
/*.services-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}*/
.image-service {
    width: 60%;
    clip-path: circle(50%);
}

/* ETHICS SECTION */
.ethics-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    padding: 2%;
    background-color: #a0c878;
    border-radius: 20px;
}



/* CONTACT SECTION */
.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 2%;
    text-align: center;
}
.contact-section > h3 {
    font-size: 300%;
    margin-bottom: 0;
}
.contact-section > p {
    font-size: 150%;
}


/* CERTIFICATIONS SECTION */
.certifications-section {
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: space-evenly;
    text-align: center;
}
.image-certificate {
    width: 50%;
}

/* TESTIMONIAL SECTION */
.testimonial-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 3%;
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
}
.testimonial-sub-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 2%;
    background-color: lightgray;
    border-radius: 20px;
}


/* CONTACT SECTION */
.contact-section {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
}
.contact-section-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 3%;
    margin-top: 2%;
}
.icon-image {
    width: 20%;
}

/* FOOTER SECTION */
.footer-section {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    padding: 2%;
    color: black;
    background-color: #41a67e;
}
.footer-panel-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.version-section {
    display: flex;
    flex-direction: row;
    gap: 3%;
}

/* SUB PAGES */

/* Hero Section */
.sub-page-hero-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    height: 50vh;
    color: white;
    /* background: url(/assets/images/header1-narrow.jpg);*/
    background: url(../images/header1-narrow.jpg); /* GITHUB */
    background-repeat: no-repeat;
    background-size: cover;
}

/* Introduction Section */
.sub-page-intro {
    display: flex;
    flex-direction: column;
    width: auto;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 1%;
    padding: 1%;
}
.sub-page-intro-image-1 {
    float: right;
    width: 30%;
    padding: 2%;
}
/* Sub Intro Section */
.sub-page-intro-images {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 3%;
    width: auto;
    margin-top: 0;
    margin-left: 8%;
    margin-right: 8%;
}
.sub-page-intro-image-2 {
    width: 70%;
    padding: 2%;
}


/* SUB PAGES - DYNAMIC PRODUCTS*/

.dynamic-page-section {
    display: flex;
    flex-direction: column;
    width: auto;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 1%;
    padding: 1%;
}
.dynamic-columns {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 3%;
    width: auto;
    margin-top: 1%;
    padding: 1%;
}
.dynamic-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 98%;
    padding: 0;
    text-align: center;
    border: solid; border-width: thin;
}
.dynamic-text {
    width: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 4%;
    border-top: solid; border-width: thin;
}
.dynamic-image {
    width: 60%;
}

/* SUB PAGES - BESPOKE AND CONTACT */

.bespoke-supp-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 4%;
    width: auto;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 2%;
    background-color: #a0c878;
    border-radius: 20px;
}
.bespoke-supp-section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    padding-top: 3%;
}
.bespoke-supp-image {
    width: 55%;
}

.contact-supp-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    margin: 5% 10% 5% 10%;
}

.section {
    width: auto;
    margin-top: 8%;
    margin-left: 8%;
    margin-right: 8%;
}


/* PRIVACY AND TERMS MODAL SECTION */
/* Display the Privacy Policy and Terms of Use in a modal */

/* Modal background */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}
/* Modal Content/Box */
.modal-section {
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    margin: 0 auto 15% auto; /* 0% from the top, 15% from the bottom and centered */
    padding: 2%;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
.modal-sub-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    margin-top: 3%;
    padding: 0;
    gap: 2%;
}
.modal-sub-section-1 {
    width: 55%;
}
.modal-sub-section-2 {
    width: 40%;
    padding-top: 0;
}
.modal-main-image {
    width: 100%;
    margin: 0;
    border: solid; border-width: thin;
}
.modal-image-panel {
    display: flex;
    flex-direction: row;
}

.modal-grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 2fr 1fr 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    width: 95%;
    height: auto;
    margin-top: 5%;
    padding-top: 1%;
    padding-bottom: 0;
}
.modal-row {
    padding: 1%;
}

.spec-section {
    margin-top: 10%;
}

.modal-contact-section {
    margin-top: 10%;
    margin-bottom: 5%;
    text-align: center;
}

/* Modal Close Button (x) */
.close-modal {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}
.close-modal:hover,
.close-modal:focus {
    color: red;
    cursor: pointer;
}











.item-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 30vh;
    padding: 2%;
    border: solid; border-width: thin;
}
.flex-column-section {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
}
.flex-row-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 4%;
    width: auto;
    margin-left: 5%;
    margin-right: 5%;
}




/* CONTENT STYLING */

h1 {
    font-family: "Playfair Display", serif;
    font-size: 300%;
    margin: 0;
}
h2 {
    font-family: "Playfair Display", serif;
    font-size: 300%;
}
.h2-header {
    margin: 0;
}
h3 {
    font-family: "Playfair Display", serif;
    font-size: 200%;
}
h4 {
    font-family: "Playfair Display", serif;
    font-size: 110%;
}
.h-sub {
    font-family: Roboto, sans-serif;
}
.p-large {
    font-size: larger;
}
.p-xlarge {
    font-size: xx-large;
}
.facebook_logo {
    fill: white;
    stroke: black;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #000;
    padding: 10px; /* your icon's total width & height is 40px  */
    border-radius: 8px;
}
.button-container {
    padding-top: 2%;
    padding-bottom: 3%;
}
.button {
    font-size: large;
    padding: 2%;
    color: white;
    text-decoration: none;
    background: #006f40;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover {
    background-color: #41a67e;
}
.button-contact {
    font-size: medium;
    padding: 1%;
    color: black;
    text-decoration: none;
    background: #ffc107;
    border: solid; border-color: black; border-width: thin;
    border-radius: 5px;
    cursor: pointer;
}
.button-hero {
    font-size: large;
    padding: 3%;
    color: black;
    text-decoration: none;
    background: white;
    border: solid; border-width: thin;
    border-radius: 10px;
    cursor: pointer;
}
a {
    margin: 0;
    padding: 0;
}

.jute-bag-mobile-section {
    display: none;
}


@media (max-width: 678px) {

    .product-left-section {
        display: none;
    }
    .product-right-section {
        display: none;
    }
    .header-sub-section-1 {
        display: none;
    }
    .header-sub-section-3 {
        display: none;
    }
    .navbar {
        display: none;
    }
    .image-main {
        width: 100%;
        height: auto;
    }

    .hero-sub-section {
        display: flex;
        flex-direction: column;
    }
    .introduction-section {
        display: flex;
        flex-direction: column;
    }
    .product-mobile-section {
        display: flex;
        flex-direction: column;
        width: auto;
    }
    .product-left-section-2 {
        width: auto;
    }
    .services-sub-section {
        display: flex;
        flex-direction: column;
    }
    .footer-panel-section {
        display: flex;
        flex-direction: column;

    }

}