body {
    font-family: Roboto;
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
    margin: 2% 2% 0 2%;
    margin-left: 2%;
    margin-right: 2%;
    padding-bottom: 1%;
    border-bottom: solid; border-width: thin;
}
/*.container {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}*/
.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto auto;
    grid-column-gap: 2%;
    grid-row-gap: 2%;
    width: 95%;
    height: auto;
    margin-left: 2%;
    margin-right: 2%;
    padding-bottom: 1%;
}
.sub-section {
    display: flex;
    flex-direction: column;
    gap: 2%;
    margin-top: 2%;
    padding: 0;
    padding-bottom: 1%;
    border-bottom: solid; border-width: thin;
}
.image-web-site {
    width: 100%;
    border: solid; border-width: thin;
}
h2 {
    font-size: 300%;
    margin: 0;
    padding: 0;
}
p {
    font-size: large;
}
.link-text {
    text-decoration: none;
}
